@model string?
<!-- SelectedSort -->

<div class="sortby-wrapper">
    <button class="sortby-button">
        <i class="ti ti-arrows-sort"></i>
        <span>Sort by</span>
    </button>
    <ul class="sortby-dropdown">
        <li class="@(Model == "Name" ? "active" : "")">Name</li>
        <li class="@(Model == "Email" ? "active" : "")">Email</li>
        <li class="@(Model == "Position" ? "active" : "")">Position</li>
    </ul>
</div>
