@using _1.PresentationLayer.ViewModels.MembersViewModels
@model TabListViewModel

<div class="tab-list">
    <button class="tab-item @(Model.SelectedTab == "All" ? "active-tab" : "")">
        ALL [@Model.AllCount]
    </button>
    <button class="tab-item @(Model.SelectedTab == "Online" ? "active-tab" : "")">
        ONLINE [@Model.OnlineCount]
    </button>
    <button class="tab-item @(Model.SelectedTab == "Offline" ? "active-tab" : "")">
        OFFLINE [@Model.OfflineCount]
    </button>
</div>
