@model _1.PresentationLayer.ViewModels.ProjectsViewModels.ProjectsViewModel

<div class="tab-list">
    <button class="tab-item active-tab">ALL [@Model.AllCount]</button>
    <button class="tab-item">STARTED [@Model.StartedCount]</button>
    <button class="tab-item">COMPLETED [@Model.CompletedCount]</button>
</div>
