@model _1.PresentationLayer.ViewModels.ProjectsViewModels.ProjectsViewModel

<div class="tab-list">
    <a asp-action="Index" asp-route-tab="All" class="tab-item @(Model.SelectedTab == "All" ? "active-tab" : "")">ALL [@Model.AllCount]</a>
    <a asp-action="Index" asp-route-tab="Started" class="tab-item @(Model.SelectedTab == "Started" ? "active-tab" : "")">STARTED [@Model.StartedCount]</a>
    <a asp-action="Index" asp-route-tab="Completed" class="tab-item @(Model.SelectedTab == "Completed" ? "active-tab" : "")">COMPLETED [@Model.CompletedCount]</a>
</div>
